.activityTag {
  color: #f2e816;
  margin-left: 10px;
  display: inline;
  float: left;
  position: relative;
}

.activityTag:hover {
  text-decoration: underline;
}

.showPopover {
  position: absolute;
  top: -114px;
  left: 0;
  box-shadow: 0 1px 6px rgba(0,0,0,0.2);
  background-color: white;
  height: 100px;
  width: 200px;
  color: #b4b4b4;

  display: block;
}

.hidePopover {
  display: none;
}
