.content {
  padding: 20px;
  border-bottom: 2px solid #f4f4f4;
  overflow: auto;
}

.message {
  margin-top: 10px;
  font-size: 14px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline;
  float: left;
}

.messageMaker {
  color: #398e92;
  margin-left: 20px;
  margin-right: 10px;
  display: inline;
  cursor: pointer;
}

.messageMaker:hover {
  text-decoration: underline;
}

.date {
  float: right;
}
