.card {
  display: inline-block;
  box-shadow: 0 1px 6px rgba(0,0,0,0.2);
  padding: 10px;
  z-index: -1;
  width: 98%;
  margin-top: 10px;
}

.custom_image {
  position: relative;
  height: 100%;
}
.custom_image img {
  width: 100%;//=======================================
height: auto;
}

.showDescriptionPart {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 4px;
  background-color: rgba(0,0,0,0.5);
  padding: 20px;
  overflow: auto;
  display: block;
}

.hideDescriptionPart {
  display: none;
  overflow: auto;
}

.interactPart {
  width: 100%;
  margin-top: 12px;
  overflow: auto;
}

.showDescriptionPart .pictures {
  position: absolute;
  width: auto;
  height: 18px;
  float: right;
  bottom: 2px;
  right: 36px;
  cursor: pointer;
}

.showDescriptionPart .picNum {
  position: absolute;
  display: inline;
  font-size: 12px;
  float: right;
  margin-left: 6px;
  bottom: 2px;
  right: 2px;
  color: white;
}

.delete {
  display: inline;
  float: right;
  color: #9b9b9b;
  cursor: pointer;
  font-size: 16px;
}

.delete:hover {
  color: #ff5a5f;
}

.title {
  float: left;
  display: inline;
}

