.card {
  display: inline-block;
  box-shadow: 0 1px 6px rgba(0,0,0,0.2);
  padding: 10px;
  z-index: -1;
  width: 98%;
  margin-top: 10px;
}



.custom_image {
  position: relative;
  height: 100%;
}
.custom_image img {
  width: 100%;//=======================================
  height: auto;
}


.showDescriptionPart {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 4px;
  background-color: rgba(0,0,0,0.5);
  padding: 20px;
  overflow: auto;

  display: block;
  cursor: pointer;
}

.hideDescriptionPart {
  display: none;
  cursor: pointer;
  overflow: auto;
}

.showDescriptionPart .title {
  font-size: 18px;
  font-weight: 200;
  color: white;
  padding-top: 44px;
  text-align: center;
}

.showDescriptionPart p {
  font-size: 12px;
  font-weight: 200;
  color: white;
  text-indent: 25px;
  margin-left: 10px;

  margin-top: 20px;
}

.showDescriptionPart .tagPart {
  margin-top: 24px;
}

.showDescriptionPart .tagPart .tag {
  color: #93f2f0;
}

.showDescriptionPart .tagPart .activityTag {
  color: #f2e816;
}

.showDescriptionPart .tagPart .tag:hover,
.showDescriptionPart .tagPart .activityTag:hover {
  text-decoration: underline;
}

.showDescriptionPart .tagPart .tag,
.showDescriptionPart .tagPart .activityTag {
  margin-left: 10px;
}


.interactPart {
  width: 100%;
  margin-top: 12px;
  overflow: auto;
}

.interactPart .icon {
  font-size: 22px;
  display: inline;
  float: left;
}

.interactPart .comments, .interactPart .likes, .interactPart .forward {
  width: auto;
  height: 18px;
  float: right;
  cursor: pointer;
}


.interactPart .pictures {
  width: auto;
  height: 18px;
  float: right;
  cursor: pointer;
}

.interactPart .picNum {
  display: inline;
  font-size: 12px;
  float: right;
  margin-left: 6px;
}

.interactPart .number {
  display: inline;
  font-size: 12px;
  float: right;
  margin-left: 6px;
  margin-right: 20px;
}



.publisherPart {
  padding-top: 6px;
  overflow: auto;
  background-color: rgba(242, 87, 113, 0.02);
  padding-bottom: 6px;
  border: 2px solid #f4f4f4;
  margin-top: 12px;
}

.publisherPart .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline;
  float: left;
}

.publisherPart .info {
  display: inline;
  float: left;
  margin-left: 10px;
}

.publisherPart .nickname, .publisherPart .visitedName {
  font-weight: 700;
  font-size: 14px;
  padding-top: 2px;
}

.publisherPart .visitedName {
  cursor: pointer;
  color: #398e92;
}

.publisherPart .visitedName:hover{
  text-decoration: underline;
}

.publisherPart .from, .publisherPart .date {
  color: #b4b4b4;
  font-size: 12px;
}

.publisherPart .from {
  margin-left: 10px;
}

.publisherPart .follow {
  display: inline;
  float: right;
  color: #f2cc11;
  border: 1px solid rgba(242, 204, 17, 0.38);
  border-radius: 10%;
  background-color: inherit;
  font-size: 12px;
  padding: 4px 10px;
  margin-top: 8px;
  cursor: pointer;
  z-index: 4;
}

.publisherPart .follow:hover {
  color: white;
  background-color: #f2cc11;
}

