.category {
  background-color: inherit;
  border-right: none;
  cursor: default;
  border-bottom: none;
}

.menuItem {
  height: 44px;
}

.top {
  border-bottom: 2px solid #f2f2f2;

}

.imagePart {
  margin-top: 20px;
}

